body, html {
  background: black;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(97, 97, 97);
  border-radius: 20px
}

::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  border-radius: 20px;
}
